.footer{
    padding: 40px 0;
    background-color: $light4;

    .footer-logo{

        display: flex;
        align-items: center;
        gap: 60px;
        margin-bottom: 60px;
        
        .footer-title{
            font-size: 24px;
            color: $black;
            font-family: fontDemi;
        }

        .footer-social{
            @include center;
            gap: 16px;

            .social-icon{
                @include center;
                @include circle(52px);
                box-shadow:  0 1px 7px rgb(0 0 0 / 6%);
                transition: $main-transition;
                border: 1px solid transparent;
                background-color: $white;

                @media screen and (max-width:$screen-xs) {
                    @include circle(38px);
                }

                img{
                    max-width: 20px;
                    max-height: 20px;
                    transition: $main-transition;
                    
                    @media screen and (max-width:$screen-xs) {
                        max-width: 16px;
                        max-height: 16px;
                    }
    
                }

                &:hover{
                    border-color: $yellow;
                    box-shadow: none;

                    img{
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    .foot-content{
        .footer-head{
            margin-bottom: 25px;
            font-size: 17px;
            color: $black;
            font-weight: 600;

            @media screen and (max-width:$screen-sm) {
                margin-bottom: 15px;
            }

            @media screen and (max-width:$screen-xs) {
                font-size: 16px;
            }
        }

        .footer-links{
            .link{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 12px;
                width: fit-content;
                color: $black;
                transition: $main-transition;
                font-size: 16px;

                &:hover{
                    #{$ltr} & {
                        transform: translateX(5px);
                    }
                    #{$rtl} & {
                        transform: translateX(-5px);
                    }
                    color: $yellow;
                }

                img{
                    max-width: 13px;

                    &.app-link{
                        max-width: 220px;
                        height: 55px;
                        border-radius: 5px;
                    }
                }

                &.text{
                    width: 240px;
                    line-height: 1.7;
                    margin-bottom: 16px;
                    &:hover{
                        color: $black;
                        transform: translateX(0) !important;
                    }
                }

                @media screen and (max-width:$screen-sm){
                    font-size: 15px;
                }

                @media screen and (max-width:$screen-xs) {
                }
            }
        }
    }
}

.copy-right{
    padding: 10px;
    border-top: 1px solid $white;
    position: relative;
    z-index: 5;
    background-color: $light4;

    .down-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        @media screen and (max-width : $screen-md) {
            flex-direction: column;
            gap: 12px;
        }

        .right-spe{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 13px;

            .footer-new-img{
                max-width: 70px;
                margin-bottom: 12px;
            }

            .links-spe{
                display: flex;
                gap: 6px;
                align-items: center;
                a{
                    text-decoration: none;
                    transition: all 0.4s ease-in-out;

                    &:hover{
                        color: $blue2;
                    }
                }
            }
        }
    }
}