@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";


// Start Home Section
.home-section{
    position: relative;
    z-index: 2;

    @media screen and (max-width:$screen-md) {
        padding: 20px 10px;
    }

    .home-item{
        // padding: 140px 0;
        color: $black;
        height: 420px;
        @include center;

        &.lg{
            height: 420px !important;
        }

        &.md{
            height: 370px;
        }

        @media screen and (max-width:$screen-lg) {
            height: 400px;
        }

        @media screen and (max-width:$screen-xs) {
            height: 300px;
        }

        .home-img{
            @include overlay(none);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home-content{

            .home-title{
                color: $black;
                margin-bottom: 8px;
                text-align: center;

                .text{
                    font-size: 20px;
                    background-color: $black;
                    color: $yellow;
                    padding: 5px 30px;
                    width: fit-content;
                    margin: auto;

                    .text-color{
                        background: -webkit-linear-gradient($green, $gold);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
    
                    @media screen and (max-width: $screen-lg) {
                        font-size: 16px;
                    }
                }

                .title{
                    font-family: fontDemi;
                    font-size: 26px;
                    margin-top: 15px;

                    @media screen and (max-width: $screen-lg) {
                        font-size: 22px;
                    }
                }
            }

            .home-desc{
                line-height: 1.6;
                font-size: 24px;
                color: $black;
                text-align: center;
                margin-bottom: 20px;
                
                @media screen and (max-width: $screen-lg) {
                    font-size: 17px;
                }

                @media screen and (max-width:$screen-md) {
                    font-size: 16px;
                }
    
            }

            .anchor{
                font-size: 22px;
                text-decoration: underline;
                color: $black;
                display: block;
                width: fit-content;
                margin: auto;
            }

        }

    }

    .owl-item{
        @media screen and (max-width:$screen-md) {
            border-radius: 12px;
            overflow: hidden;
        }
    }
}

// welcome-img
.welcome-img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 25px;
}

// cards-container
.cards-container{
    @include grid(280px, 35px);
    
    &.sm{
        @include grid(200px, 25px);
    }
    
    &.lg{
        @include grid(300px, 35px);
    }
}

// Store Card
.store-card{
    position: relative;

    a{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
    }
    .img-con{
        position: relative;
        margin-bottom: 15px;
        height: 240px;
        border-radius: 10px;
        overflow: hidden;

        .store-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .flag-con{
            position: absolute;
            bottom: 20px;
            @include dir-left(20px);
            z-index: 4;
            display: flex;
            align-items: center;
            gap: 8px;

            .flag-img{
                @include circle(42px);
                object-fit: cover;
                transition: $main-transition;
                cursor: pointer;
            }

            .flag-text{
                color: $white;
                font-size: 14px;
                transition: $main-transition;
                opacity: 0;
            }
            
            &.active{
    
                .flag-img{
                    border-radius: 4px;
                    width: 40px;
                    height: 30px;
                }
    
                .flag-text{
                    opacity: 1;
                }

            }
        }
        
        .close-con{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: .5);
            @include center;
            z-index: 2;

            .text{
                font-size: 26px;
                color: $white;
            }
        }
    }

    .content{
        @include center;
        gap: 15px;

        .text{
            font-size: 20px;
            color: $black;
            font-family: fontBold;
        }

        .stor-star{
            display: flex;
            align-items: center;
            gap: 3px;
            color: $black;
            font-size: 16px;

            i{
                color: $gold2;
            }
        }
    }
}

// categories
.categories{
    background-color: $white2;

    .categories-items{
        @include center;
        flex-wrap: wrap;
        gap: 25px;

        &.lg{
            gap: 25px 40px;
        }
    }
}

.categories-carousel {
    .owl-stage-outer{
        padding: 5px 0;
    }

    .categories-item{
        width: fit-content;
        margin: auto;
    }
}

.categories-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .cat-img-con{
        @include circle(90px);
        position: relative;
        z-index: 2;
    }

    .categories-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .categories-name{
        font-size: 16px;
        color: $black;

        @media screen and (max-width:$screen-xs) {
            font-size: 15px;
        }
    }

    &.lg{
        .cat-img-con{
            @include circle(220px);

            @media screen and (max-width:$screen-sm) {
                @include circle(150px);
            }

            @media screen and (max-width:$screen-xs) {
                @include circle(120px);
            }
        }

        .categories-name{
            font-size: 18px;
            font-family: fontDemi;

            @media screen and (max-width:$screen-xs) {
                font-style: 16px;
            }
        }
    }

    &.story{
        .cat-img-con{
            .categories-img{
                border: 3px solid $white;
            }

            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 105%;
                height: 105%;
                background: -webkit-linear-gradient($green, $gold);
                z-index: -2;
                border-radius: 50%;
            }
        }
    }
}



// filter-container
.filter-container{
    @include between;
    gap: 10px;
    flex-wrap: wrap;

    .filter-btn{
        background-color: $white;
        font-size: 14px;
        color: $black;
        @include center;
        gap: 8px;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid $black;
        min-width: 120px;

        img{
            max-width: 15px;
            // max-height: 12px;
        }
    }
}

// categories-card
.categories-card{
    .img{
        position: relative;
        height: 300px;
        margin-bottom: 10px;
        overflow: hidden;

        &.sm{
            height: 230px;
        }

        .card-img-m{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .heart{
            position: absolute;
            top: 13px;
            @include dir-right(13px);
            background: #000;
            @include center;
            @include circle(34px);
            color: $yellow;
            cursor: pointer;
        }

        .categories-btns{
            background-color: $white;
            padding: 20px;
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 12px;
            transition: $main-transition;
            transform: translateY(100%);

            .anchor-more{
                font-size: 15px;
                color: $black;
            }
        }

        &:hover{
            .categories-btns{
                transform: translateY(0);
            }
        }
    }

    .title{
        @include between;
        gap: 10px;
        margin-bottom: 8px;

        .title-text{
            font-size: 18px;
            color: $black;
            font-family: fontDemi;
            @media screen and (max-width:$screen-xs) {
                font-style: 16px;
            }
        }
    }

    .categories-info{
        font-size: 15px;
        color: $light;
        margin-bottom: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// notifications-item
.notifications-item{
    display: block;
    padding: 13px 15px;
    font-size: 15px;
    color: $black !important;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: rgba($color: $yellow, $alpha: .3);

    &:last-child{
        margin-bottom: 0;
    }
}

// wallet-content
.wallet-content{
    @include center;
    flex-direction: column;
    gap: 30px;

    .wallet-img{
        @include circle(120px);
        @include center;
        background-color: rgba($color: $yellow, $alpha: .2);
        border: 1px solid $border-color;

        .img{
            font-size: 30px;
            color: $yellow;
            max-width: 70px;
            max-height: 75px;
        }
    }
}

// Table
.invoices{
    overflow-x: auto;
    
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: $dark;
    }
}

.invoices-table{
    width: 100%;
    white-space: nowrap;

    thead{
        border-bottom: 1px solid $border-color;
        
        th{
            padding: 20px 10px 15px;
            text-align: center;
            font-size: 16px;
            color: $light5;
            font-weight: 500;
            
            @media screen and (max-width: $screen-xs) {
                font-size: 15px;
                padding: 15px 12px;
            }
        }
    }

    tbody{

        tr{
            border-bottom: 1px solid $border-color;

            td{
                font-size: 16px;
                color: #262626;
                padding: 15px 10px;
                text-align: center;
                vertical-align: middle;

                @media screen and (max-width: $screen-xs) {
                    font-size: 14px;
                    padding: 15px 12px;
                }
            }
        }
    }
}

// conversation-item
.conversation-item{
    display: block;
    padding: 14px 0;
    border-bottom: 1px solid $border-color;

    &:last-child{
        border-bottom: none;
    }

    .conversation-text{
        font-size: 14px;
        color: $black;
        margin-top: 10px;
        font-family: fontReg;
        line-height: 1.6;
    }
}

.user-top{
    display: flex;
    align-items: center;
    gap: 12px;

    .user-img{
        @include circle(52px);
        
        &.sm{
            @include circle(42px);
        }
    }

    .user-con{
        display: flex;
        flex-direction: column;
        gap: 8px;

        .user-name{
            font-size: 16px;
            color: $black;
            // font-family: fontDemi;
        }

        .user-time{
            font-size: 14px;
            // color: $light;
            color: $black;
            font-family: fontReg;
        }
    }
}

// store
.store-con{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;

    @media screen and (max-width:$screen-xs) {
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .store-right{
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: 22px;

        @media screen and (max-width:$screen-sm) {
            gap: 15px;
        }
        
        @media screen and (max-width:$screen-xs) {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        .store-text .sec-text{
            margin-top: 12px;

            @media screen and (max-width:$screen-xs) {
                justify-content: center;
                text-align: center;
            }
        }
        
        .main-btn{
            @media screen and (max-width:$screen-xs) {
                margin: auto;
            }
        }
    
        .store-top{
            display: flex;
            align-items: center;
            gap: 15px;
    
            .store-name{
                font-size: 17px;
                font-family: fontBold;
            }

            @media screen and (max-width:$screen-xs) {
                justify-content: center;
            }
        }
    }

    &.vert{
        display: block;

        .store-right{
            flex-direction: column;
            align-items: center;
            gap: 14px;
        }
    }
}


// grid-boxs
.grid-boxs{
    @include grid(350px, 25px);
    
    @media screen and (max-width:$screen-xxs) {
        @include grid(300px, 25px);
    }
}

.link-box{
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 160px;
    width: 100%;

    @media screen and (max-width:$screen-xs) {
        height: 140px;
    }

    .box-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $main-transition;
    }

    .box-con{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include center;
        background-color: rgba($color: #000000, $alpha: .5);
        color: $white;
        font-family: fontDemi;
        font-size: 19px;

        @media screen and (max-width:$screen-sm) {
            font-size: 16px;
        }
    }

    &:hover{
        .box-img{
            transform: scale(1.14) rotate(-2deg);
        }
    }
}


// Code Inputs
.code-inputs{
    .main-input{
        position: relative;

        .input-me{
            min-height: 44px !important;
        }

        .main-btn{
            position: absolute;
            top: 50%;
            @include dir-right(5px);
            transform: translateY(-50%);
            height: 36px;
            width: 100px;
            font-size: 13px;
        }
    }

    &.lg{
        .main-input{
    
            .input-me{
                min-height: 48px !important;
            }
    
            .main-btn{
                height: 48px;
            }
        }
    }
}


// order-item
.order-item{
    @include between;
    margin-bottom: 15px;

    &:last-child{
        margin-bottom: 0;
    }

    .sec-text{
        font-size: 16px;
        font-family: fontDemi;

        @media screen and (max-width:$screen-xs) {
            font-style: 15px;
        }
    }

    .price{
        font-family: fontDemi;
    }
}


// filter-bar
.filter-bar{
    position: fixed;
    top: 0;
    @include dir-left(0);
    width: 380px;
    background-color: $white;
    padding: 35px;
    height: 100%;
    z-index: 1040;
    transform: translateX(-105%);
    #{$ltr} & {
        transform: translateX(-105%);
    }
    #{$rtl} & {
        transform: translateX(105%);
    }
    transition: all .7s cubic-bezier(0.55, -0.30, 0.265, 1.5);
    overflow: auto;

    &.active{
        transform: translateX(0) !important;
    }

    @media screen and (max-width:$screen-sm) {
        width: 300px;
        padding: 35px 25px;
    }


    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: $dark;
    }

    .filter-head{
        @include between;
        margin-bottom: 35px;

        .title{
            font-size: 18px;
            color: $black;
            font-family: fontDemi;
        }

        .close-filter{
            cursor: pointer;
            font-size: 18px;
            color: $black;
        }
    }

    .filter-coll-container{
        padding: 0 20px;

        @media screen and (max-width:$screen-sm) {
            padding: 0;
        }
    }

    .filter-collapse{
        display: block;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;

        .filter-coll-open{
            @include between;
            font-size: 15px;
            font-family: fontDemi;
            color: $black;
            cursor: pointer;
            margin-bottom: 8px;
    
            i{
                transition: $main-transition;
            }
    
        }

        .filter-coll-content{
            padding: 12px 0;
            // display: none;
        }

        &.active {
            .filter-coll-open{
                i{
                transform: rotateX(180deg);
                }
            }
        }
    }

}


// product-detailes
.product-detailes{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .product-head{
        font-size: 19px;
        font-family: fontBold;
    }
}

.carsouel{
    height: 530px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}


.oute-owl-product {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    overflow: hidden;

    @media screen and (max-width:$screen-sm) {
        flex-direction: column;
    }
}

.owl-product {
    border: 1px solid #EEE;
    overflow: hidden;

    .owl-dots{
        display: none;
    }
}

.owl-product .item {
    width: 100%;
    height: 530px;
    position: relative;

    @media screen and (max-width:$screen-sm) {
        height: 350px;
    }
}

.owl-product img,
.navigation-img-wrapper > div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: #FFF;
    border-radius: 6px;
}

.navigation-img-wrapper {
    display: flex;
    gap: 10px;
    overflow: auto;
    flex-direction: column;
    flex-shrink: 0;
    max-height: 530px;

    & > div {
        border: 1px solid transparent;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s linear 0s;
        width: 100px;
        height: 100px;
        overflow: hidden;
        min-height: 80px;
        flex-shrink: 0;
        padding: 3px;
        border-radius: 6px;

        &.active {
            border-color: $black;
            background-color: $white;
        }

        @media screen and (max-width:$screen-sm) {
            width: 100px;
            height: 90px;
        }
    }

    @media screen and (max-width:$screen-sm) {
        flex-direction: row;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: transparent;
    }
}